.site-header {
  background-color:#0F0F0F;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__logo-link {
  transition: opacity 0.3s ease;
}

.site-header__logo-link:hover {
  opacity: 0.8;
}

.site-header__logo-link:active {
  opacity: 0.6;
}

.site-header__logo {
  display: block;
}

.site-header__burger-btn {
  display: none;
  padding: 0;
  background-color: transparent;
  border: 0;
}

@include breakpoint-down (768px) {
  .site-header__logo {
    width: 69px;
  }
}

@include breakpoint-down (530px) {
  .site-header {
    position: relative; 
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .site-header__nav {
    display: none;
  }

  .site-header__nav--active {
    display: block;
  }

  .site-header__burger-btn {
    display: block;
  }
}
